<%- include("user_partials/header") %>
<div class="jumbotron sized-box">
  <h1><%= applicant.name %>'s Qualifications</h1>
  <p>Manage your qualification here! You need at least one qualification with its grades to be able to apply for our programmes</p>
  <p><a class="btn btn-primary btn-lg" href="/qualifications/new-qualification" role="button">Add New Qualification</a></p>
</div>

<div class="row">
<% applicant.qualifications.forEach((f)=>{ %>
  <% const e = f.qualification %>
  <div class="col-sm-12 col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <h3><b><%= e.qualificationName %></b></h3>
        <h4>Minimum Score: <%= e.minimumScore %>, Maximum Score: <%= e.maximumScore %></h4>
        <hr/>
        <p><b>Description: </b><%= e.resultCalcDescription %> <%= e.resultCalcScore %> subject(s)</p>
        <hr/>
        <h4><b><%= f.subjectResults.length %></b> Subject(s) has been submitted.</h4>
        <h4><b><%= e.resultCalcDescription.slice(0,-2) %></b>:
          <% let x = 0%>
          <% console.log("beforeSort =>", f.subjectResults); %>
          <%f.subjectResults.sort((a,b) => (a.score > b.score) ? -1 : ((b.score > a.score) ? 1 : 0)); %>
          <% console.log("afterSort=>", f.subjectResults); %>
          <% let diff = f.subjectResults.length - e.resultCalcScore%>
          <% diff = diff < 0 ? 0 : diff%>
          <% console.log("diff=>",diff); %>
          <% if(diff !== 0) {%>
            <%f.subjectResults.splice(f.subjectResults.length - diff, diff)%>
          <%}%>
          <% if(e.resultCalcDescription === "Average of"){%>
            <% f.subjectResults.forEach((subject)=> { %>
              <% x += subject.score %>
            <% });%>
            <% x = x / f.subjectResults.length%>
          <% } else {%>
            <% f.subjectResults.forEach((subject)=> { %>
              <% x += subject.score %>
            <% });%>
          <%}%>
          <%= x %>
        </h4>
        <p class="bottom-form-small"><a href="/qualifications/<%=f._id %>" class="btn btn-primary" role="button">View Qualification</a></p>
      </div>
    </div>
  </div>
<% }); %>
</div>

<%- include("user_partials/footer") %>
