<%- include("user_partials/header") %>
<div class="jumbotron sized-box">
  <h1>Success</h1>
  <p>Application with the programme of <%= programme.programmeName %> is sent! Please wait for <%= university.universityName %> admin to review and send it to your email at <%= applicant.email %>.</p>
</div>

<%- include("user_partials/footer") %>
