<%- include("sas_admin_partials/header") %>

<div class="jumbotron sized-box">
  <h1>Qualification</h1>
  <p>The SAS Admin can add new qualification, delete or edit existing qualification by entering the qualification name, minimum and maximum score, list of possible grades and a description of how the overall result is calculated. </p>
  <p><a class="btn btn-primary btn-lg" href="/qualifications/new-qualification" role="button">Add New Qualification</a></p>
</div>

<div class="row">
<% qualifications.forEach((e)=>{ %>
  <% const needApproval = e.needApproval ? "(Requested by an Applicant)" : ""%>
  <div class="col-sm-12 col-md-6">
    <div class="thumbnail">
      <div class="caption">
        <h3><b><%= e.qualificationName %> <%= needApproval %></b></h3>
        <h4>Minimum Score: <%= e.minimumScore %>, Maximum Score: <%= e.maximumScore %></h4>
        <hr/>
        <p><%= e.resultCalcDescription %> <%= e.resultCalcScore %> subject(s)</p>
        <hr/>
        <h4><b>Grade List : </b><%= e.gradeList %></h4>
        <p><a href="/qualifications/<%=e._id %>" class="btn btn-primary" role="button">Edit Qualification</a></p>
      </div>
    </div>
  </div>
<% }); %>
</div>





<%- include("sas_admin_partials/footer") %>
