<%- include("sas_admin_partials/header") %>

<form id="qualification-type-form" class="form-signin" action="/qualifications/<%= qualification._id %>" method="post" >
<% const needApproval = qualification.needApproval ? "(Requested by an Applicant)" : ""%>
<% const needApprovalButton = qualification.needApproval ? "Approve & " : ""%>
  <h1 class="main-title">Edit Qualification <b><%= needApproval %></b></h1>

    <% if(qualification.needApproval){ %>
        <div class="form-inline stretching-content">
          <div></div>
          <div class="form-inline">
            <button id="reject-button" type="button" class="btn btn-danger d-flex">Reject Qualification</button>
          </div>
        </div>
    <% } %>

  <label class="sized-box">Qualification Name</label>
  <input type="text" class="form-control top-form" id="qualificationName" placeholder="Input Name" value="<%= qualification.qualificationName %>">
  <!-- <input type="text" required="" class="form-control middle-form" name="lName" placeholder="Last Name" required autofocus> -->

  <label class="sized-box">Score</label>
  <div class="form-inline">
    <input type="number" class="form-control middle-form" placeholder="Minimum Score" id="minScore" value="<%= qualification.minimumScore %>">
    <label class="form-control middle-form">&#8212;</label>
    <input type="number"  class="form-control middle-form" placeholder="Maximum Score" id="maxScore" value="<%= qualification.maximumScore %>">
  </div>


  <div class="badge-pill-container">
    <label id="add-grade-label">Grade List (Tap to remove)</label>
    <div id="add-grade-list" class="badge-pill-container" val = "<%= qualification.qualificationName %>">
    </div>
  </div>

  <div class="form-inline">
    <input id="add-grade-textarea" type="text" class="form-control bottom-form" placeholder="Input Grade">
    <button id="add-grade-button" type="button" class="btn btn-primary bottom-form">Add Grade</button>
  </div>

  <label class="sized-box">Result Calculation Description</label>
  <div class="badge-pill-container">
    <select class="form-control" name="resultCalcDescription" id="resultCalcDescription">
      <option>Average of</option>
      <option>Sum of</option>
    </select>
    <input type="number" class="form-control bottom-form" placeholder="Score" id="resultCalcScore" value="<%= qualification.resultCalcScore %>">
  </div>
  <div class="form-inline stretching-content">
    <div class="form-inline">
      <a class="btn btn-secondary btn-lg" href="/qualifications" role="button">Cancel</a>
      <button id="delete-button" type="button" class="btn btn-lg btn-danger d-flex">Delete</button>
    </div>
    <button type="submit" class="btn btn-lg btn-primary d-flex"><%= needApprovalButton %>Edit Qualification</button>
  </div>
</form>

<input type="hidden" id="gradeList" value="<%= qualification.gradeList %>" />
<input type="hidden" id="qualificationId" value="<%= qualification._id %>" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/script/sasAdminEditQualification.js" charset="utf-8"></script>

<%- include("sas_admin_partials/footer") %>
